<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cse112goldteam.robobetty">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Check_In_Activity"
            android:label="@string/title_activity_check__in_" >
        </activity>
        <activity
            android:name=".Check_In_Done_Activity"
            android:label="@string/title_activity_check__in__done_" >
        </activity>
        <activity
            android:name=".FormActivity"
            android:label="@string/title_activity_form" />
        <activity android:name=".EnterCodeActivity" />
        <activity android:name=".NoAppointment" />
        <activity android:name=".FindAppointmentActivity" />
        <activity android:name=".SignatureActivity" />
        <activity android:name=".DoneActivity" />
        <activity android:name=".NoCodeActivity" />
    </application>

</manifest>
